<div class="app-grid">
  <header class="app-grid__header">head</header>
  <main class="app-grid__main">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et animi nobis
    cumque, temporibus minima non deleniti reprehenderit laboriosam. Iste quas
    magni ullam accusantium, necessitatibus perferendis adipisci impedit dolor
    ut! Natus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius
    quae sequi, molestiae mollitia quas iste temporibus nobis aperiam dicta eos
    placeat quibusdam eum a, recusandae molestias tempora reprehenderit vel
    necessitatibus!Lorem Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Ad adipisci vero placeat non beatae consectetur dolore asperiores enim
    delectus nulla earum sunt repudiandae culpa repellat dicta, atque
    reprehenderit modi ipsam! Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Rem in soluta quasi tenetur, temporibus dignissimos saepe
    praesentium quas minima iure et dolorem fugiat, ipsam eveniet laborum Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempora quasi
    cumque quisquam ut voluptatum pariatur expedita voluptates sequi est illum
    doloremque porro possimus, eaque sapiente eos recusandae molestias nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis numquam
    incidunt excepturi necessitatibus! Eum, labore, accusamus tempora ipsum
    veritatis eos quos error iusto temporibus, accusantium eveniet et obcaecati
    eius similique. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Nesciunt molestias quisquam labore. In quos laudantium perspiciatis corrupti
    eaque inventore quasi excepturi quaerat sint atque? Reprehenderit nobis
    ullam nihil eaque ad Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Quas consequuntur ipsam possimus facilis sed exercitationem
    voluptates, voluptatibus eaque aliquid eius ab explicabo optio numquam
    delectus saepe maiores eligendi enim dolorum! accusamus repellendus unde
    quae.
  </main>
  <nav class="app-grid__nav">bottom</nav>
</div>
