section {
  width: 327px;
}

.post {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32px auto 20px;
  background-color: black;
}

.post__profile-info {
  display: grid;
  grid-template-columns: 32px auto 32px;
  margin: 0;
  padding: 0;
  column-gap: 5px;
}

.post__profile-info-img {
  border-radius: 50%;
}

.post__profile-info-name {
  font-family: "HK Grotesk", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #ecebed;
  margin: 0;
  padding: 0;
}

.post__profile-info-time {
  font-family: "HK Grotesk", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: medium;
  line-height: 16px;
  color: #727477;
  margin: 0;
  padding: 0;
}

.post__text {
  font-family: "HK Grotesk", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #ecebed;
  padding: 20px 0;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__actions--bookmark {
  margin-right: 10px;
  margin-bottom: -4px;
}

.post__actions--social {
  padding-right: 20px;
}

.post__actions--social-num {
  padding-right: 5px;
}

button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.post__img {
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  overflow-x: scroll;
  padding: 20px 0;
}

.post__img--style {
  border-radius: 16px;
}
