.search-bar {
  display: flex;
  background-color: black;
  width: 327px;
  height: 44px;
}

.search-bar__form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  align-items: stretch;
  position: relative;
}

.search-bar__input {
  border-radius: 25px;
  background-color: rgba(114, 116, 119, 0.5);
  border: none;
  flex-grow: 1;
  align-items: stretch;
  padding: 1rem;
}

input::placeholder {
  color: white;
  opacity: 0.8;
  background-position: 0 -32px;
}

.search-bar__search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
}
