<div class="container">
  <section class="stories">
    <article class="stories__card">
      <figure>
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--bg"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__image">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--profile"
          width="32"
          height="32"
        />
      </figure>
    </article>

    <article class="stories__card">
      <figure>
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--bg"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__image">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--profile"
          width="32"
          height="32"
        />
      </figure>
    </article>

    <article class="stories__card">
      <figure>
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--bg"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__image">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--profile"
          width="32"
          height="32"
        />
      </figure>
    </article>

    <article class="stories__card">
      <figure>
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--bg"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__image">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__image--profile"
          width="32"
          height="32"
        />
      </figure>
    </article>
  </section>
</div>
