.container {
  background-color: #000000;
  width: 375px;
  height: 940px;
}

.stories {
  background-color: #000000;
  display: flex;
  gap: 12px;
  min-height: 140px;
  overflow-x: scroll;
}

.stories__card {
  position: relative;
}

.stories__image {
  position: absolute;
  bottom: 4px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%);
}

.stories__image--bg {
  border-radius: 15px;
}

.stories__image--profile {
  border-radius: 50%;
  border: 1px solid hotpink;
}
