<div class="container">
  <section class="stories">
    <article class="stories__card">
      <figure class="stories__bg-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__bg-image"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__profile-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__profile-image"
          width="32"
          height="32"
        />
      </figure>
    </article>
    <article class="stories__card">
      <figure class="stories__bg-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__bg-image"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__profile-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__profile-image"
          width="32"
          height="32"
        />
      </figure>
    </article>
    <article class="stories__card">
      <figure class="stories__bg-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__bg-image"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__profile-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__profile-image"
          width="32"
          height="32"
        />
      </figure>
    </article>
    <article class="stories__card">
      <figure class="stories__bg-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__bg-image"
          width="100"
          height="140"
        />
      </figure>
      <figure class="stories__profile-image-ctn">
        <img
          src="https://source.unsplash.com/random"
          alt="Image of the Story"
          class="stories__profile-image"
          width="32"
          height="32"
        />
      </figure>
    </article>
  </section>
</div>
